* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #E1E1E6;
  --btn-hover: #02799D;

  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100vw;
  height: 99.5vh;
}

nav {
  position: absolute;
  display: flex;
  align-items: center;

  gap: 3.2rem;

  margin-left: 7.2rem;
  margin-top: 4rem;
}

nav a {
  font-size: 2.2rem;

  text-decoration: none;
  color: var(--primary-color);
}

nav a:focus {
  font-weight: 700;
}

h1 {
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--secondary-color);

  position: absolute;
  width: 23.6rem;
  height: 6rem;
  left: 14.5rem;
  top: 18.5rem;
}

p {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.9rem;

  position: absolute;
  width: 64.8rem;
  height: 20.3rem;
  left: calc(50% - 64.8rem/2 - 21.4rem);
  top: 26.1rem;
}

.container h1 {
  font-weight: 700;
  font-size: 4.8rem;
  color: var(--secondary-color);

  position: absolute;
  width: 39.9rem;
  height: 6rem;
  left: 48.0rem;
  top: 18.4rem;
}

.container button {
  text-transform: uppercase;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background: transparent;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3.2rem;
  gap: .8rem;

  position: absolute;
  width: 20.5rem;
  height: 4.8rem;
  left: 58.2rem;
  top: 27.8rem;

  cursor: pointer;

  font-weight: 700;
}

.container button:hover {
  background-color: var(--primary-color);
  color: var(--btn-hover);
}
